h1 {
  color: blue;
}
h2 {
  color: blue;
}
h4 {
  color: green;
}
.weather-icon {
  color: royalblue;
  font-size: 60px;
}
.temperatureDescription {
  color: red;
  font-size: 15px;
}
.Temperature {
  font-size: 500px;
}
.sun-icon {
  color: goldenrod;
  font-size: 25px;
}
button {
  margin: 0 auto;
  background: blanchedalmond;
  color: blue;
}

footer {
  color: turquoise;
  text-align: center;
}
